@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500&display=swap');

.blind{
    opacity: 0;
}

.section .inner{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: lighter;
}

#fp-nav ul li a:hover{
    color: #fff
}





/* title */
.section .inner .title{
    position: absolute;
    font-size: 30px;
    top: 5%;
    left: 15px;
    opacity: 0;
}

.section .inner .title.title1.on{
    animation: drop1 0.5s linear forwards;
}
.section .inner .title.title2.on{
    animation: drop1 0.5s linear forwards;
}

@keyframes drop1 {
    from{top: -10px; opacity: 0;}
    to{ top: 5%; opacity: 1;}
}

.section .inner .title h3:before{
    content: "⊚";
    font-size: 35px;
    display: inline-block;
    margin-right: 10px;
}



/* #section0 */

#section0{
    text-align: center;
}
#section0 #intro-tx{
     /* border: 1px solid black; */
    margin-top: 70px;
    text-align: center;
    display: inline-block;
}

#section0 #intro-tx p{
    font-size: 40px;
    margin: 5px 2px;  
    display: inline-block;
    transform: translateY(20px);
    opacity: 0;
    animation: ani1-2 0.1s ease-out forwards;
}

@-webkit-keyframes ani1-1 {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
  }
  @keyframes ani1-1 {
    0% {
      -webkit-transform: translateY(600px) rotateX(30deg) scale(0);
              transform: translateY(600px) rotateX(30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% -1400px;
              transform-origin: 50% -1400px;
      opacity: 1;
    }
  }

  @keyframes ani1-2 {
    from{transform: translateY(20px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}
  

#section0 #intro-tx p:nth-child(1){
    font-size: 50px;
    animation-delay: 1s;
    -webkit-animation: ani1-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: ani1-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#section0 #intro-tx p:nth-child(2){
    font-size: 50px;
    animation-delay: 1s;
    -webkit-animation: ani1-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: ani1-1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#section0 #intro-tx p:nth-child(4){
    animation-delay: 1.4s;
}

#section0 #intro-tx p:nth-child(5){
    animation-delay: 1.6s;
}

#section0 #intro-tx p:nth-child(6){
    animation-delay: 1.8s;
}

#section0 #intro-tx p:nth-child(7){
    animation-delay: 2s;
}

#section0 #intro-tx .scroll{
    border: 2px solid black;
    margin-top: 40px;
    width: 12px;
    height: 25px;
    font-size: 25px;
    border-radius: 20px;
    animation-duration: 1s;
    animation-delay: 2.2s;
}


#section0 #intro-tx .scroll:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 6px;
    border-radius: 1px;
    background-color:black;
    animation: ani2 ease-in-out 1s infinite;
    
}

@keyframes ani2 {
    from{transform: translateY(-10px); opacity: 1;}
    to{transform: translateY(0px); opacity: 1;}
}



/* section1 : skill */

#section1 .inner hr{
    position: absolute;
    width: 100%;
    top: 58%;
    border: 0;
    border-bottom: dotted 1px gray;
}
#section1 .inner .wrap > h4 {
    text-align: left;
    margin: 20px 15px;
    font-size: 23px;
}
#section1 .inner .wrap1{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
}

#section1 .inner .wrap1.on{
    animation: drop2-1 0.5s ease-out 0.8s forwards;
}

@keyframes drop2-1{
    from{ opacity:0 ; top: 50%;}
    to{  opacity:1 ; top:20%;}
}


#section1 .inner .wrap1 .who{
    float: left;
    width: 33.3333%;
    margin-top: 25px;
}

#section1 .inner .wrap1 button{
    border: 0;
    background-color: transparent;
    font-style: oblique;
    margin-bottom: 15px;
    font-size: 14px;
}
#section1 .inner .wrap1 button:hover{
    color:  rgb(209, 169, 175);
}

#section1 .inner .wrap1 .who > div button{
    margin-bottom: px;
    font-size: 16px;
}
#section1 .inner .wrap1 .who > div p{
    margin: 10px 0;
    font-size: 12px;
    /* display: none; */
}



#section1 .inner .wrap2{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    opacity: 0;
}

#section1 .inner .wrap2.on{
    animation: drop2-2 0.8s ease-out 1.2s forwards;
}

@keyframes drop2-2{
    from{ opacity:0 ; bottom: 0;}
    to{  opacity:1 ; bottom: 15%;;}
}


#section1 .inner .wrap2 > .box{
    width: 25%;
    padding: 0 20px;
    box-sizing: border-box;
    float: left;
}

#section1 .inner .wrap2 > .box p:nth-child(1){
    font-size: 13px;
    text-align: left;
}
#section1 .inner .wrap2 > .box p:nth-child(3){
    font-size: 10px;
    text-align: right;
}

#section1 .inner .wrap2 > .box div{
    width: 100%;
    height: 10px;
    margin: 5px auto;
    background: lightgray;
}

#section1 .inner .wrap2 > .box div:after{
    content: "";
    display: block;
    height: 10px;
    background-color: rgb(209, 169, 175);
    animation: 8s ease-in infinite;
}

#section1 .inner .wrap2 > .box.box1 div:after,
#section1 .inner .wrap2 > .box.box3 div:after{
    animation-name: ani3-1;
}

#section1 .inner .wrap2 > .box.box2 div:after{
    animation-name: ani3-2;
}

#section1 .inner .wrap2 > .box.box4 div:after{
    animation-name: ani3-3;
}

@keyframes ani3-1 {
    0%{ width: 0;}
    25%{ width: 80%;}
    50%{ width: 0px;}
    75%{ width: 80%;}
    100%{ width: 0px;}
}

@keyframes ani3-2 {
    0%{ width: 0;}
    25%{ width: 50%;}
    50%{ width: 0px;}
    75%{ width: 50%;}
    100%{ width: 0px;}
}

@keyframes ani3-3 {
    0%{ width: 0;}
    25%{ width: 30%;}
    50%{ width: 0px;}
    75%{ width: 30%;}
    100%{ width: 0px;}
}

/* section2 : portfolio */
#section2 .inner .wrap-photo{
    /* padding-top: 100px; */
    /* height: 100%; */
    opacity: 0;
    overflow: hidden;

}

#section2 .inner .wrap-photo.on{
    animation: drop3-1 0.5s ease-out 0.8s forwards;
}

@keyframes drop3-1 {
    from{ opacity:0 ; padding-top: 150px;}
    to{  opacity:1 ; padding-top: 100px;}
}

#section2 .inner .wrap-photo .slick-slide{
    padding: 0 10px;
    /* position: relative; */
}


#section2 .inner .wrap-photo .slick-slide a{
    display: block;
    width: 600px;
    height: 300px;
    background-color: wheat;
    
}

#section2 .inner .wrap-photo .slick-slide a img{
    width: 100%;
}

.slick-dots{
    margin-top: 10px;
}

.slick-dots > li{
    display: inline-block;
    width: 15px;
    height: 30px;
    overflow: hidden;
    margin: 0 5px;
    position: relative;
}

.slick-dots > li:after{
    content: "-";
    display: inline-block;
    font-size: 20px;
    width: 15px;
    height: 15px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    /* border: 1px solid black; */
}

.slick-dots > li > button{
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.slick-dots > li.slick-active > button{
    text-indent: -999px;
}

.slick-dots > li.slick-active:after{
    display: block;
}








#section2 .inner .wrap-txt{
    position: absolute;
    /* bottom:%; */
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
}

#section2 .inner .wrap-txt.on{
    animation: drop3-2 1s ease-out 1.2s forwards;
}

@keyframes drop3-2 {
    from{ opacity:0 ; bottom:0;}
    to{  opacity:1 ; bottom:12%;}
}


#section2 .inner .wrap-txt > ul{
    position: relative;
    height: 40px;
    overflow: hidden;
}
#section2 .inner .wrap-txt > ul > li{
    font-size: 25px;
    position: absolute;
    top:95px;
    width:100%;
    transition:top .5s ease-in-out;
}
#section2 .inner .wrap-txt > ul > li.select{
    top:0px;
}

/* 갤러리 위치시 커서 없앰
#section2 .inner .wrap-photo{
    cursor:none;
}
#section2 .inner .wrap-photo .cursor{
    display: block;
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 100%;
    position: absolute;
    pointer-events:none;  해당 오브잭트 이벤트 무시
    transform: scale(0);
    transition: transform .2s;
}
#section2 .inner .wrap-photo:hover .cursor{
    transform: scale(1);
}
#section2 .inner .wrap-photo:active .cursor{
    transform: scale(2);
} */


/* section3 : contact */


/* 타이핑 텍스트 */
#section3 .wrap-typo{
    position: absolute;
    left:50%;
    top:50%;
    margin: -180px 0 0 -1150px;
}
#section3 .wrap-typo .wrap-typo-inner{
    position: relative;
}
#section3 .wrap-typo .wrap-typo-inner > span{
    position: absolute;
    display: inline-block;
    top:0;
    left:600px;
    font-size:200px
}
/* 타이핑 텍스트를 움직이게 하기 위한 animation설정(움직이는 경로가 되는 라인정보(svg)) */
#section3 .wrap-typo .wrap-typo-inner > span.ani-0{
    animation: key_ani0 1s linear forwards; 
    motion-path: path("m568.5,256.453125c-41,-79 -138,-113 -270,-92c-132,21 -261,94 -280,129");
    offset-path: path("m568.5,256.453125c-41,-79 -138,-113 -270,-92c-132,21 -261,94 -280,129");
}
/* 타이핑 텍스트를 svg 라인정보대로 움직이게 하는 키프레임 */
@keyframes key_ani0{
    0%{offset-distance:0%; opacity: 1;}
    100%{offset-distance:100%; opacity: 0;}
}
/* 타이핑 텍스트를 움직이게 하기 위한 animation설정(움직이는 경로가 되는 라인정보(svg)) */
#section3 .wrap-typo .wrap-typo-inner > span.ani-1{
    animation: key_ani1 1s linear forwards; 
    motion-path: path("m560.5,49.453125c-26,-42 -203,-70 -274,34c-71,104 -107,302 -107.5,301.546875");
    offset-path: path("m560.5,49.453125c-26,-42 -203,-70 -274,34c-71,104 -107,302 -107.5,301.546875");
}
/* 타이핑 텍스트를 svg 라인정보대로 움직이게 하는 키프레임 */
@keyframes key_ani1{
    0%{offset-distance:0%; opacity: 1;}
    100%{offset-distance:100%; opacity: 0;}
}
/* 타이핑 텍스트를 움직이게 하기 위한 animation설정(움직이는 경로가 되는 라인정보(svg)) */
#section3 .wrap-typo .wrap-typo-inner > span.ani-2{
    animation: key_ani2 1s linear forwards; 
    motion-path: path("m559.5,353.453125c-28,-127 -100,-281 -221,-300c-121,-19 -274,206 -293,314");
    offset-path: path("m559.5,353.453125c-28,-127 -100,-281 -221,-300c-121,-19 -274,206 -293,314");
}
/* 타이핑 텍스트를 svg 라인정보대로 움직이게 하는 키프레임 */
@keyframes key_ani2{
    0%{offset-distance:0%; opacity: 1;}
    100%{offset-distance:100%; opacity: 0;}
}


/* 입력부분 */

#section3 .wrap-input{
    position: absolute;
    left:50%;
    right: 0;
    top:0;
    bottom: 0;
    background: #272d39;
}
#section3 .wrap-input > form{
    position: absolute;
    left: 0%;
    top:50%;
    margin: -80px 0 0 30px;
}
#section3 .wrap-input > form .group{
    position: relative;
    margin-bottom: 45px;
}
#section3 .wrap-input > form .group > input{
    font-size: 18px;
    padding: 10px 0;
    display: block;
    width: 300px;
    border:0;
    background-color: transparent; /*투명색*/
    border-bottom: 1px solid #757575;
    color: #fff;
    outline:none;
}
#section3 .wrap-input > form .group .bar{
    position: relative;
    display: block;
    width:300px;
}
#section3 .wrap-input > form .group .bar:before,
#section3 .wrap-input > form .group .bar:after{
    content: '';
    height:2px;
    width: 0px;
    bottom:0;
    position: absolute;
    background: #fff;
    transition: width 0.2s;
}
#section3 .wrap-input > form .group .bar:before{
    left:50%
}
#section3 .wrap-input > form .group .bar:after{
    right:50%
}

/* input에 커서가 이동했을때 */
#section3 .wrap-input > form .group > input:focus ~ .bar:before,
#section3 .wrap-input > form .group > input:focus ~ .bar:after{
    width:150px;
}

#section3 .wrap-input > form .group > label{
    color: #fff;
    font-size: 14px;
    position: absolute;
    left: 0px;
    top:-20px;
}


/* 1006px */

@media all and (max-width:414px) {
    #fp-nav {
        left: 50%;
        margin-left: -165.3px;
        opacity: 1; -moz-opacity: 1; filter: alpha(opacity=100);
        transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
            margin-top:-49px !important;
    }
    #fp-nav ul li{
        margin: 0px 15px;
    }

    .section .inner .title{
    left: 10px;
    }

    @keyframes drop1 {
    from{top: -20px; opacity: 0;}
    to{ top: 0%; opacity: 1;}
    }

    @keyframes drop3-1 {
        from{ opacity:0 ; padding-top: 150px;}
        to{  opacity:1 ; padding-top: 75px;}
    }


    @keyframes drop2-1{
        from{ opacity:0 ; top: 50%;}
        to{  opacity:1 ; top:10%;}
    }
}

